@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,500&family=Yanone+Kaffeesatz:wght@500&display=swap');
html, * {
    padding:0;
    margin:0;
    flex-shrink:0;
}
body{
    display:block;
    max-width:100vw;
    height:100vh;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='376' height='376' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");;
}
main{
    display:block;
    width:100%;
}
header{
    display:flex;
    justify-content:center;
    width:auto;
    
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
    width:80vw;
    height:70px;
    border-radius:20px;
    border:2px solid #550055;
    background-color:#470447;
}
#menuContainer{
    display:flex;
    justify-content:center;
    margin-top:10px;
    width:100vw;
    height:70px;
}
#menu{
    display:flex;
    justify-content:center;
    align-items:center;
    width:60vw;
    height:50px;
    border-radius:20px;
    border:2px solid #550055;
    background-color:#470447;
}
article{
    display:flex;
    justify-content:center;
    width:100%;
    height:60vh;
}
section{
    width:80vw;
    height:auto;margin-top:5px;
}
.status{
    display:flex;
}
#breadcrumb{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
}
ul{
   display: flex;
   text-align:center;
   align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;

    height:100%;
}
li{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    height:100%;
}
li:hover{
    transition: 0.3s;
    background-color:#8a118a;
    border-radius:20px;
}
a{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
}
#login-box{
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:40vh;
}
#login-box form{
    display:block;
    width:30vw;
    height:30vh;
    text-align:center;
}

input{
    display:flex;
    justify-content:center;
    align-items:center;
}
.textlogin{
    width: 100%;
    max-width:300px;
    margin-bottom:20px;
}
.aligninput{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column;
    width:100%;
}
.remember{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row nowrap;
    margin-bottom:20px;
}
.checkbox{
    margin-left:10px;
}
.submit-button{
    display:flex;
    justify-content:center;
    align-items:center;
}
.submit{
    width:100px;
    height:30px;

}
#view-profile{
    display:flex;
    justify-content:center;
    width:100px;
    height:30px;
    text-align:center;
    align-items:center;
    border:2px solid #550055;
    background-color:#470447;
    border-radius:20px;
    margin-top:10px;
    margin-bottom:10px;
}
#view-profile:hover{
    transition: 0.3s;
    border:2px solid #a00ba0;
    background-color:#8a118a;
}
#profile{
    display:none;
    width:auto;
    justify-content:center;
    align-items:center;
    flex-flow:column nowrap;
    text-align:center;
    
}
.logout{
    display:flex;
    justify-content:center;
    width:100px;
    height:30px;
    text-align:center;
    align-items:center;
    border:2px solid #550055;
    background-color:#470447;
    border-radius:20px;
    margin-top:10px;
    margin-bottom:10px;
}
.logout:hover{
    transition: 0.3s;
    border:2px solid #a00ba0;
    background-color:#8a118a;
}
iframe{
    width:490px;
    height:400px;
}
#iframe-box{
    margin-top:5px;
    display:flex;
    justify-content:center;
    width:100%;
}
.time{
    display:flex;
    position:absolute;
    right:5px;
    bottom:5px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:white;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:white;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size:42px;
    color:white;
}
h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:42px;
    color:white;
}
.alertcookies{
   
    display:flex;
    justify-content:center;
    position:absolute;
    bottom:0;
    left:35%;
}
.alertcookies form{
    display:block;
    width:30vw;
    height:30vh;
    text-align:center;
}
#list-settings{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #470447;
    border: 2px solid #550055;
    border-radius:20px;
    width:auto;
    height:75px;
    margin-top:20px;
}
.list-button{
    width:100px;
    height:30px;
    border: 2px solid #550055;
    background-color: #470447;
    border-radius: 20px;
    color:white;
    margin:2%;
}
.list-button:hover{
     transition: 0.3s;
    background-color:#8a118a;
    border-radius:20px;
}
#inputspace{
    display:none;
    justify-content:center;
    align-items:center;
    background-color:rgb(138, 17, 138, .40);
    width:100%;
    margin-top:5px;
    border-radius: 20px;
    border: 2px solid #550055;
    height:150px;
    
}
#inputspace form {
    display:flex;
}
#inputspace form label, #inputspace form input{
    margin: 10px;
}
#listbox{
    display:flex;
    justify-content:center;
    width:100%;
    height:500px;
}
#listsection{
    
}
label{
    color:white;
    font-family: 'Roboto', sans-serif;
}
.list-title{
    font-family: 'Roboto', sans-serif;
}

.lista{
    width:100%;
}
.listname{
    width:20%;
}
.taskdesk{
    width:80%;
}
form input[type="submit"] {
    width:100px;
    height:30px;
    border: 2px solid #550055;
    background-color: #470447;
    border-radius: 20px;
    color:white;
    margin:2%;
}

form input[type="submit"]:hover {
    transition: 0.3s;
    background-color:#8a118a;
    border-radius:20px;
}
.newlist{
    text-align:center;
    background-color:#8a118a;
    border: 2px solid #550055;
    border-radius:20px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:20px;

}

#listsDashboard{
    margin:20px;
}

#err{
    display:none;
    margin-top:20px;
    width:100%;
    height:50px;
    border: 1px solid black;
    border-radius:20px;
    justify-content:center;
    align-items:center;
}
#err p {
    text-align:center;
}